<div class="content-view">
    <h2>How does a one-tonne dino hatch its eggs? Carefully</h2>
    <p>Most dinosaurs buried their eggs and hoped for the best, but some species -- including a few hefty ones -- 
        built nests and pampered unhatched offspring much as birds do today, researchers reported Wednesday.</p>
    <p>Which raises an intriguing question: How did creatures nearly as heavy as a hippo brood eggs without squashing them?</p>
    <p>"Large species may have not sat directly on their eggs," explained Kohei Tanaka, 
        a researcher at Nagoya University Museum and lead author of a study in Biology Letters that details 
        the incubation strategy of feathered carnivores called oviraptorosaurs.</p>
    <p>"Eggs are arranged in a circular pattern with a large central opening," he told AFP, describing clutches of 
        potato-shaped eggs found in China up to half-a-metre (20 inches) long and weighing up to seven kilos (15 pounds) each.</p>
</div>